<html>
  <head>
  </head>
  <body>
    <div class="container">
      <h1>Summary</h1>
      <h4>Model</h4>
      <h4>Entertainer</h4>
      <h4>Over 17 years of dance training in Ballet, Modern, Contemporary, Jazz, Tap, and Musical Theater</h4>
      <h4>Graduated Cum Laude with a BFA from the University of Arizona</h4>
      <h4>Full-merit scholarship recipient of the Rockette Experience, and the Radio City Music Hall Rockette Intensive in 2010</h4>
      <br>

      <h1>Experience</h1>
      <h3><b>Dance Instructor</b> - <%= link_to image_tag("logos/logrea.png", :border => 0, :class => "logo"), "http://www.logreadance.com/" %></h3>
      <h4><i>September 2011 - Present</i></h4>
      <h4>I teach Modern dance, Contemporary dance, and Pilates to students ranging from seven to seventeen years old</h4>
      <br>
      <br>

      <h3><b>Motivational Dancer</b> - <%= link_to image_tag("logos/total.png", :border => 0, :class => "logo"), "http://www.totalentertainment.com/" %></h3>
      <h4><i>2010 - Present</i></h4>
      <h4>I entertain and encourage people of all ages to dance and enjoy themselves at various corporate and private events, including but not limited to weddings, sweet sixteens, school parties, and Bat Mitzvahs</h4>
      <br>
      <br>

      <h3><b>Conmpany Member/Dancer</b> - <%= link_to image_tag("logos/naganuma.png", :border => 0, :class => "logo"), "http://www.naganumadance.com/" %></h3>
      <h4><i>2010 - Present</i></h4>
      <h4>I performed at Summerstage in August 2010. Also performed in the Red Hook Dance Festival</h4>
      <br>
      <br>

      <h3><b>Company Member/Dancer</b> - <%= link_to image_tag("logos/alma.png", :border => 0, :class => "logo"), "http://www.almanyc.org/" %></h3>
      <h4><i>2012 - Present</i></h4>
      <h4></h4>
      <br>
      <br>

      <h3><b>Company Guest/Dancer</b> - <%= link_to image_tag("logos/treehouseshakers.png", :border => 0, :class => "logo"), "http://treehouseshakers.com/" %></h3>
      <h4><i>? - ?</i></h4>
      <h4></h4>
      <br>
      <br>

      <h3><b>IM=X Pilates Instructor</b> - <%= link_to image_tag("logos/pilates.jpg", :border => 0, :class => "logo"), "http://www.imxpilates.net/" %></h3>
      <h4><i>2010 - Present</i></h4>
      <h4>Xercizer (reformer) Certified</h4>
      <br>
      <br>

      <h3><b>Model</b> - <%= link_to image_tag("logos/tucwes.png", :border => 0, :class => "logo"), "http://shop.tucandwes.com/" %></h3>
      <h4><i>2010 - 2011</i></h4>
      <br>

      <h3><b>Music Video Actress</b>
      <h4><i>2010 - Present</i></h4>
      <h4>Performed and chroreographed in various music videos:</h4>
      <h4><%= link_to "Palisades Park - Counting Crows", "https://www.youtube.com/watch?v=8-tFkOBU1BQ", {:class => 'pink-lnk'} %>  Chroreographed/danced short sequence</h4>
      <h4><%= link_to "Naganuma Dance Company - Apple Heel, Flying Fish", "https://vimeo.com/21486566", {:class => 'pink-lnk'} %>  Professionally danced</h4>
      <h4><%= link_to "Moxiie - Bottle Service", "https://www.youtube.com/watch?v=0hGBct3JCT0", {:class => 'pink-lnk'} %>  Modeled and danced</h4>
      <h4><%= link_to "Frozen - Albion", "https://vimeo.com/22495944", {:class => 'pink-lnk'} %>  Featured dancer</h4>
      <h4><%= link_to "Show Me Your Freak - Blake Sicily", "https://vimeo.com/90347043", {:class => 'pink-lnk'} %>  Danced</h4>
      <br>

      <h1>Education</h1>
      <h3><b>Bachelor of Fine Arts in Dance</b> - <%= link_to image_tag("logos/uofa.png", :border => 0, :class => "logo"), "http://www.arizona.edu/" %></h3>
      <h4><i>2005 - 2009</i></h4>
      <h4>Graduated Cum Laude</h4>
      <br>

    </div>
  </body>
</html>
